# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
/Assets/LeanTween
/Assets/LeanTween.meta
*.keystore
Assets/Standard Assets/
Dictation_data/
Builds/
Assets/Standard Assets.meta
Dictation.aup
Dictation.wav
Untitled-1.png
WebGL.jsgz.tmp
WebGL.jsgz.tmp1
capture-1.trec
darkhalls.camproj
darkhalls/darkhalls.mp4
